{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": false,
  "jsxSingleQuote": true,
  "packageManager": "yarn",
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "printWidth": 200
      }
    }
  ]
}
