* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 12px;
  min-width: 320px;
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
  overflow: hidden;
  background: linear-gradient(72deg, #ca9e77, #8699c4);
  -webkit-background: linear-gradient(72deg, #ca9e77, #8699c4);
  -moz-background: linear-gradient(72deg, #ca9e77, #8699c4);
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}
