* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 12px;
  min-width: 320px;
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}
